.list-media-source {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    padding: var(--p-border-radius-400);
}

.list-media-source-item {
    background-size: cover;
    padding-top: 100%;
    position: relative;
    cursor: pointer;
    background-repeat: no-repeat;
    background-color: rgb(240, 241, 242);
}

.modal {
    display: flex;
    height: calc(-60px + 100vh);
}

.modal-left {
    background-color: var(--p-color-bg-surface-inverse);
    width: 100%;
}

.modal-left-media {
    background-size: contain;
    background-position: center center;
    display: flex;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    cursor: crosshair;
}

.modal-right {
    flex: 0 0 420px;
    max-width: 420px;
    background: rgb(255, 255, 255);
}

.modal-right-infor {}

.modal-right-infor-header {
    padding: 16px;
}

.modal-right-infor-header-avatar {
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    display: flex;
    flex: 0 0 40px;
    height: 40px;
    justify-content: center;
    margin-right: 10px;
    max-width: 40px;
    overflow: hidden;
    padding: 2px;
    width: 40px;
}

.modal-right-infor-header-name {
    font-weight: 550;
}

.modal-right-infor-content {
    white-space: pre-line;
    padding: 0 var(--p-space-400) 0 var(--p-space-400);
}

.modal-right-infor-content-total-reaction {
    background-color: var(--p-color-bg);
    border-radius: var(--p-border-radius-200);
    margin-bottom: var(--p-space-400);
}

.modal-right-infor-footer {
    white-space: pre-line;
    padding: 0 var(--p-space-400) 0 var(--p-space-400);
}

section.Polaris-Box {
    padding: 0;
}



